<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Index page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/app/misc/http_cdn.usebootstrap.com_bootstrap_4.1.3_css_bootstrap.css">
    <script src="/app/misc/http_ajax.googleapis.com_ajax_libs_jquery_3.1.1_jquery.js"></script>
    <script src="/app/misc/http_maxcdn.bootstrapcdn.com_bootstrap_4.1.3_css_bootstrap.css"></script>
    <script src="/app/misc/http_code.angularjs.org_1.8.2_angular.js"></script>
    <script src="index.js"></script>
</head>
<body>
    <div class="container" ng-controller="indexController">
        <h3>Список товаров:</h3>
        <table class="table table-hover">
            <tr>
                <td><b>Id:</b></td>
                <td><b>Title:</b></td>
                <td><b>Price:</b></td>
                <td><b>Actions:</b></td>
            </tr>
            <tbody>
            <tr ng-repeat="p in ProductList">
                <td>{{p.id}}</td>
                <td>{{p.title}}</td>
                <td>{{p.price}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteProduct(p.id)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <table>
            <tr>
                <td>
                    <button class="btn btn-primary" ng-click="lastPage()">Last</button>
                    {{pageNumber + 1}}
                    <button class="btn btn-primary" ng-click="nextPage()">Next</button>
                </td>
            </tr>
        </table>
        <br>
        <form action="/app/products" method="post">
            <h3>Добавить товар:</h3>
            <table>
                <tr>
                    <td><b>Product title:</b></td>
                    <td><input type="text" name="title"></td>
                </tr>
                <tr>
                    <td><b>Product price:</b></td>
                    <td><input type="number" name="price"></td>
                </tr>
            </table>
            <button type="submit">Send</button>
        </form>
    </div>
</body>
</html>