<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Index page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/app/misc/http_cdn.usebootstrap.com_bootstrap_4.1.3_css_bootstrap.css">
    <script src="/app/misc/http_ajax.googleapis.com_ajax_libs_jquery_3.1.1_jquery.js"></script>
    <script src="/app/misc/http_maxcdn.bootstrapcdn.com_bootstrap_4.1.3_css_bootstrap.css"></script>
    <script src="/app/misc/http_code.angularjs.org_1.8.2_angular.js"></script>
    <script src="index.js"></script>
</head>
<body>
    <div class="container" ng-controller="indexController">
        <h3>Список товаров:</h3>
        <table class="table table-hover">
            <tr>
                <td><b>Id:</b></td>
                <td><b>Title:</b></td>
                <td><b>Price:</b></td>
                <td><b>Actions:</b></td>
            </tr>
            <tbody>
            <tr ng-repeat="p in ProductList">
                <td>{{p.id}}</td>
                <td>{{p.title}}</td>
                <td>{{p.price}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteProduct(p.id)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <table>
            <tr>
                <td><button class="btn btn-primary" ng-click="prevPage()" ng-if="!firstPage">Prev</button></td>
                <td><b>Page: {{pageNumber + 1}}</b></td>
                <td><button class="btn btn-primary" ng-click="nextPage()" ng-if="!lastPage">Next</button></td>

            </tr>
        </table>
        <br>
        <form novalidate ng-submit="addProduct()">
            <h3>Add new product:</h3>
            <input class="form-control" type="text" placeholder="title"  ng-model="newProduct.title">
            <p></p>
            <input class="form-control" type="number" placeholder="price" ng-model="newProduct.price">
            <p></p>
            <button type="submit">Send</button>
        </form>

        <form novalidate ng-submit="filteredProducts()">
            <h3>Filters:</h3>
            <input class="form-control" type="number" placeholder="min price"  ng-model="filter.min_price">
            <p></p>
            <input class="form-control" type="number" placeholder="max price" ng-model="filter.max_price">
            <p></p>
            <button type="submit">Send</button>
        </form>
        <br>
<!--        <form action="/app/products" method="post">-->
<!--            <h3>Добавить товар:</h3>-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <td><b>Product title:</b></td>-->
<!--                    <td><input type="text" name="title"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><b>Product price:</b></td>-->
<!--                    <td><input type="number" name="price"></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--            <button type="submit">Send</button>-->
<!--        </form>-->

    </div>
</body>
</html>